<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AspnetDbConnString" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=TygaSoftAspnetDb" providerName="System.Data.SqlClient"/>
    <add name="WmsDbConnString" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=WmsDb" providerName="System.Data.SqlClient"/>
    <add name="InfoneDbConnString" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=InfoneDb" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="WebDAL" value="TygaSoft.SqlServerDAL,TygaSoft.SqlServerDAL"/>

    <!-- Msmq -->
    <add key="MsmqMessaging" value="TygaSoft.MsmqMessaging"/>
    <add key="WmsBarcodeScanQueue" value=".\private$\WmsBarcodeScanQueue"/>
    <add key="WmsRunQueue" value=".\private$\WmsRunQueue"/>
    <add key="WmsScanQueue" value=".\private$\WmsScanQueue"/>

    <!-- Batch Processing options -->
    <add key="ThreadCount" value="1" />
    <add key="BatchSize" value="10" />
    <add key="QueueTimeout" value="20" />
    <add key="TransactionTimeout" value="30" />
    <add key="StockWarningTimer" value="300" />

  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
