html, body, div, span,br,iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,textarea {
    margin: 0;padding: 0;
}
ol, ul {
  list-style: none outside none;
}
img,a img {
  border: 0 none;
}
img {
  vertical-align: middle;
}
table {
  empty-cells: show; border-spacing:0;
}
.clr{
  clear:both; display:block; font-size:0; height:0; line-height:0; overflow:hidden;
}
.tc {
  text-align:center;
}
.tfr {
  text-align:right;
}
.m10{
  margin:10px;
}
.ml10 {
  margin-left:10px;
}
.mr10 {
  margin-right:10px;
}
.mt10 {
  margin-top:10px;
}
.mb10 {
  margin-bottom:10px;
}
.mlr10 {
  margin:0 10px 0 10px;
}
.mtb10 {
  margin-top:10px; margin-bottom:10px;
}
.mt20 {
  margin-top:20px;
}
.mtb20 {
  margin-top:20px; margin-bottom:20px;
}
.ml20 {
 margin-left:20px;
}
.mr20 {
  margin-right:20px;
}
.pd10 {
  padding:10px;
}
.pd5{
  padding:5px;
}
.pdt5{
 padding-top:5px;
}
.pdb5{
 padding-bottom:5px;
}
.pdl5{
 padding-left:5px;
}
.pdr5{
 padding-right:5px;
}
.pdt10 {
  padding-top:10px;
}
.pdl10 {
  padding-left:10px;
}
.pdlr10 {
  padding-left:10px; padding-right:10px;
}
.pdr10 {
  padding-right:10px;
}
.pdtb10 {
 padding-top:10px; padding-bottom:10px;
}
.pdrbl10 {
 padding:0 10px 10px 10px;
}
.pd20 {
  padding:20px;
}
.pd2{
  padding:2px;
}
.pdr2{
 padding-right:2px;
}
.pdlr2{
  padding-left:2px; padding-right:2px;
}

.mt5 {
  margin-top:5px;
}
.mb5 {
  margin-bottom:5px;
}
.ml5 {
  margin-left:5px;
}
.lh {
  overflow:hidden;
}
.fl {
  float:left;
}
.fr {
  float:right;
}
.cr{
  color:#FF0000;
}
.c-g{
  color:#008000;
}
.h{
  height:100% auto;
}
.bd{ 
  border:1px solid #FF0000;
}
.bdlr {
  border-left:solid 1px #D1D1D1; border-right:solid 1px #D1D1D1;
}
.bdb {
  border-bottom:1px solid;
}
.bdl {
  border-left:solid 1px #C0C0C0;
}
.error{
  color:#FF0000;
}
.hide {
  display:none;
}
.even{
  background-color:#FFF;
}
.waiting {
 background:url('Images/loading.gif') no-repeat; display:block; padding-left:28px;
}
.bg_curr {
 color:#FF0000;
}
.f-cr{
  color:#FF0000;
}


