html, body, div, span,br,iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,textarea {
    margin: 0;padding: 0;
}
body{
  color: #404040;font-family: simfang;
  font-size: 14px;font-style: normal;font-variant: normal;line-height: 150%; letter-spacing:1.1px;
}
a {
  text-decoration: none; color:#404040;
}
a:hover {
 color: #FF0000;
}
ol, ul {
  list-style: none outside none;
}
.w120 {
 width:120px;
}
.w200 {
 width:200px;
}
.fl {
 float:left;
}
.fr {
 float:right;
}
.clr{
  clear:both; display:block; font-size:0; height:0; line-height:0; overflow:hidden;
}
.mgt10 {
 margin-top:10px;
}
.mgl10 {
 margin-left:10px;
}
.mgl30 {
 margin-left:30px;
}
.pd20 {
 padding:20px;
}
.pdt40 {
 padding-top:40px;
}
.tar {
 text-align:right;
}
.tac {
 text-align:center;
}
.f-s48 {
 font-size:48px;
}
.ul_h li{
 float:left;
}
.ul_h.wp33 li{
 width:33%;
}

.row-fl {
 height:100% auto; overflow:hidden;float:left; margin-bottom:10px;
}
.row-fl .rl {
 text-align:right; width:110px; float:left;
}
.row-fl .rl120 {
 text-align:right; width:120px; float:left;
}
.row {
 height:100% auto; overflow:hidden;
}
.row .rl{
  text-align:right; width:110px; float:left;
}
.row .wp33{
 width:33%;
}
.lh18{
 line-height:18px;
}
.printBtns {
 margin:10px auto;display: table;
}
.abtn {
 cursor:pointer; display:block;background:#0c60ee;color:#fff;padding:5px 10px;min-width:100%;text-align:center;border-radius:10px;
}

/*打印单样式*/
.inStockDemandOrder {
 width:980px; margin:20px auto;padding:0 10px;
}
.inStockDemandOrder .header{
 border-bottom:1px solid #000; margin-bottom:20px;
}
.inStockDemandOrder .barcode{
 width:238px;height:50px;
}
.inStockDemandOrder .title{
 height:50px; line-height:50px; font-size:48px; text-align:center;
}
.order-print {
 width:980px; margin:20px auto;padding:0 10px;
}
.order-print .header{
 border-bottom:1px solid #000; margin-bottom:20px;
}
.order-print .barcode{
 width:238px;height:50px;
}
.order-print .title{
 height:50px; line-height:50px; font-size:48px; text-align:center;
}
.row-fl.col3{
 width:33%;margin-bottom:0;height:40px;line-height:40px;
}
.row-fl .lb{
 display:block;max-width:200px;
}
.txt-bb {
 border-bottom:1px solid #000;width:200px;height:26px;
}
.dgPrint {
 width:100%;margin:0 auto;border-spacing:0;border-collapse:collapse;
}
.dgPrint tr th{
 border:1px solid #000000;
}
.dgPrint tr td{
 text-align:center;border:1px solid #000000;
}
