<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>包装列表弹出框</title>
</head>
<body>
    <div id="dgDlgPackageToolbar">

    </div>
    <table id="dgDlgPackage" class="easyui-datagrid"
           data-options="fit:true, fitColumns:true,singleSelect:true,pagination:true,rownumbers:true,border:false,striped:true,toolbar:'#dgDlgPackageToolbar'">
        <thead>
            <tr>
                <th data-options="field:'Id',checkbox:true"></th>
                <th data-options="field:'CustomerCode',width:80">货主</th>
                <th data-options="field:'ProductName',width:300">货品</th>
                <th data-options="field:'PackageCode',width:100">包装代码</th>
                <th data-options="field:'Remark',width:100">说明</th>
                <th data-options="field:'TotalPiece',width:100">QTY1</th>
                <th data-options="field:'TotalInsidePackage',width:100">QTY2</th>
                <th data-options="field:'TotalBox',width:100">QTY3</th>
                <th data-options="field:'TotalTray',width:100">QTY4</th>
            </tr>
        </thead>
    </table>

    <script type="text/javascript" src="/wms/Scripts/Admin/Base/DlgPackage.js"></script>
    <script type="text/javascript">
        $(function () {
            DlgPackage.Init();
        })
    </script>
</body>
</html>
