body {
background-color: #f2f2f2;color: #666666;
}
* {
margin: 0;padding: 0;font-family: 'Microsoft yahei';
}
input, button, select, textarea {
outline: none;
}
input[type=submit] {
cursor: pointer;
}
.w {
width: 1000px;margin: 0 auto;
}

.warning {
padding-top: 20px;font-size: 14px;color: #ee5b39;overflow: hidden;
}
.warning-ico {
width: 20px;height: 20px;display: block;float: left;background: url('Images/icon.png') -7px -82px no-repeat;
}
.warning-con {
float: left;line-height: 20px;display: inline;margin-left: 5px;
}

.main {
padding: 40px 20px 0;
}
.loginl {
float: left;margin-left: 30px;width: 480px;
}
.loginr {
float: left;display: inline;margin-left: 100px;position: relative;height: 490px;width: 320px;
}
.control-group {
height: 40px;margin-bottom: 14px;position: relative;
}
label.placeholder {
position: absolute;left: 5px;color: #777777;font-size: 14px;
}
.control-group label {
line-height: 40px;
}
.login-d {
color: #666666;font-size: 12px;
}
.login-d label {
line-height: 12px;margin-left: 5px;
}
.ui-input-h40 {
outline: none;width: 308px;padding: 5px;line-height: 28px;height: 28px;font-size: 14px;border: 1px solid #bbbbbb;
color: #555555;background-color: #f5f5f5;border-radius: 1px;-moz-border-radius: 1px;-webkit-border-radius: 1px;
}
.login .ui-input-h40 {
margin-bottom: 10px;
}
.ui-submit-blue {
padding: 0 5px;letter-spacing: 3px;display: block;text-align: center;line-height: 38px;width: 320px;height: 38px;border: 1px solid #0591aa;
background-color: #0591aa;color: #FFFFFF;font-size: 19px;border-radius: 1px;-moz-border-radius: 1px;-webkit-border-radius: 1px;
}
.agreeBox {
 width:900px; margin:40px auto 10px; height:80px; font-size:12px;
}
.agreeBox .agreement {
height:80px; overflow:auto;
}

.footer {
width: 900px;margin: 0 auto;border-top: 1px solid #cccccc;margin-top: 50px;overflow: hidden;
}
.footerMain {
line-height: 80px;font-size: 14px;
}