<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="AspnetDbConnString" connectionString="Data Source=115.28.5.84;Initial Catalog=TygaSoftAspnetDb;User ID=283335746;Password=tyga283335746" providerName="System.Data.SqlClient"/>
    <!--<add name="AspnetDbConnString" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=TygaSoftAspnetDb" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings>

  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms name=".TygaSoftFm" path="/" timeout="60" protection="All" slidingExpiration="true" requireSSL="false" cookieless="UseCookies"/>
    </authentication>
    <membership defaultProvider="MsSqlMembershipProvider" hashAlgorithmType="SHA1">
      <providers>
        <clear/>
        <add name="MsSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AspnetDbConnString" applicationName="TygaSoftApp" requiresUniqueEmail="false" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" passwordFormat="Hashed" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" maxInvalidPasswordAttempts="15" passwordAttemptWindow="10" passwordStrengthRegularExpression="^([0-9a-zA-Z]+){6,30}$"/>
      </providers>
    </membership>
    <roleManager defaultProvider="MsSqlRoleProvider" enabled="true" cookieName=".TygaSoftRole" cookiePath="/" cookieProtection="All" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieTimeout="30" createPersistentCookie="false" cacheRolesInCookie="true" maxCachedResults="25">
      <providers>
        <clear/>
        <add name="MsSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="AspnetDbConnString" applicationName="TygaSoftApp"/>
      </providers>
    </roleManager>
    <anonymousIdentification enabled="false"/>
    <profile automaticSaveEnabled="false" enabled="false" defaultProvider="MsSqlProfileProvider">
      <providers>
        <clear/>
        <add name="MsSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="AspnetDbConnString" applicationName="TygaSoftApp" description=""/>
      </providers>
    </profile>
  </system.web>

  <system.web.extensions>
    <scripting>
      <webServices>
        <authenticationService enabled="true" requireSSL = "false"/>
        <profileService enabled="false" readAccessProperties="MobilePhone"/>
        <roleService enabled="true"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <services>
      <service name="System.Web.ApplicationServices.AuthenticationService">
        <endpoint binding="wsHttpBinding" bindingNamespace="http://TygaSoft.Services.Security"
            contract="System.Web.ApplicationServices.AuthenticationService"/>
      </service>
      <service name="System.Web.ApplicationServices.RoleService">
        <endpoint binding="wsHttpBinding" bindingNamespace="http://TygaSoft.Services.Security"
            contract="System.Web.ApplicationServices.RoleService"/>
      </service>
      <service name="System.Web.ApplicationServices.ProfileService">
        <endpoint binding="wsHttpBinding" bindingNamespace="http://TygaSoft.Services.Security"
            contract="System.Web.ApplicationServices.ProfileService"/>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding>
          <security mode="None"></security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding>
          <security mode="None"></security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
