<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AspnetDbConnString" connectionString="Data Source=120.25.214.85,1488;Initial Catalog=TygaSoftAspnetDb;User ID=283335746;Password=tyga@2016" providerName="System.Data.SqlClient"/>
    <add name="WmsDbConnString" connectionString="Data Source=120.25.214.85,1488;Initial Catalog=WmsDb;User ID=283335746;Password=tyga@2016" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="WebDAL" value="TygaSoft.SqlServerDAL,TygaSoft.SqlServerDAL"/>
    <add key="FilesRoot" value="~/Files"/>
    <add key="AESEncryptKey" value="sw2016-tygaweb-com"/>

    <!-- Enable data caching -->
    <add key="EnableCaching" value="true"/>
    <add key="CacheDependencyAssembly" value="TygaSoft.TableCacheDependency,TygaSoft.TableCacheDependency"/>
    <add key="CacheDatabaseName" value="WmsDb"/>
    <add key="SysEnumCacheDuration" value="12"/>
    <add key="SysEnumTableDependency" value="SysEnum"/>
    <!-- processing options (Asynch/Synch) -->
    <add key="StrategyAssembly" value="TygaSoft.BLL"/>
    <add key="OrderStrategyClass" value="TygaSoft.BLL.OrderAsynchronous"/>
    <!-- Msmq -->
  </appSettings>
  <system.web>
    <membership defaultProvider="MsSqlMembershipProvider" hashAlgorithmType="SHA1">
      <providers>
        <clear/>
        <add name="MsSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AspnetDbConnString" applicationName="TygaSoftApp" requiresUniqueEmail="false" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" passwordFormat="Hashed" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" maxInvalidPasswordAttempts="15" passwordAttemptWindow="10" passwordStrengthRegularExpression="^[\@A-Za-z0-9_\-\!\#\$\%\^\*\.\~]{6,30}$"/>
      </providers>
    </membership>
    <roleManager defaultProvider="MsSqlRoleProvider" enabled="true" cookieName=".TygaSoftRole" cookiePath="/" cookieProtection="All" cookieRequireSSL="false" cookieSlidingExpiration="false" cookieTimeout="480" createPersistentCookie="false" cacheRolesInCookie="true" maxCachedResults="25">
      <providers>
        <clear/>
        <add name="MsSqlRoleProvider" connectionStringName="AspnetDbConnString" applicationName="TygaSoftApp" type="System.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
  </system.web>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>